
@model List<Departman>
@{
    ViewBag.Title = "Departmanlar";
}

<div class="container">
    <h2>Departmanlar</h2>

    @if (TempData["hata"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">

            @TempData["hata"]

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    }

    @if (TempData["mesaj"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">

            @TempData["mesaj"]

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    }

    <form class="form-inline" action="@Url.Action("Ekle", "Departmanlar")" method="post">

        @Html.AntiForgeryToken()

        <label class="sr-only" for="inlineFormInputName2">Name</label>

        <input type="text" name="DepartmanAd" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Departman Adı" required />

        <button type="submit" class="btn btn-primary mb-2">Ekle</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Departman Id</th>
                <th>Departman Adı</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.DepartmanAd</td>
                    <td>
                        <a href="#" class="btn btn-primary"
                           data-toggle="modal"
                           data-target="#exampleModalCenter"
                           data-departman-id="@item.Id"
                           data-departman-ad="@item.DepartmanAd">
                            <i class="fas fa-edit"></i>
                        </a>

                        <a href="#" class="btn btn-danger"
                           data-toggle="modal"
                           data-target="#silmeModal"
                           data-departman-id="@item.Id"
                           data-departman-ad="@item.DepartmanAd">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<!-- Silme Modal -->
<div class="modal fade" id="silmeModal" tabindex="-1" role="dialog" aria-labelledby="silmeModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="silmeModalCenterTitle">Silme Onayı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("Sil", "Departmanlar")" method="post">

                    @Html.AntiForgeryToken()
                    <input type="hidden" id="departmanSilId" name="Id" />

                    <p>
                        &quot;<span id="departmanSilAd"></span>&quot; adlı departmani silmek istediğinizden emin misiniz?
                    </p>

                    <button type="submit" class="btn btn-primary">Evet</button>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hayır</button>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Düzenleme Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Departman Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("Duzenle", "Departmanlar")" method="post">

                    @Html.AntiForgeryToken()
                    <input type="hidden" id="departmanDuzenleId" name="Id" />

                    <div class="form-group">
                        <label>Departman Adı</label>
                        <input type="text" id="departmanDuzenleAd" name="departmanAd" class="form-control" required />
                    </div>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        $("#silmeModal").on("show.bs.modal", function (event) {

            var button = $(event.relatedTarget);
            $("#departmanSilId").val(button.data("departman-id"));
            $("#departmanSilAd").text(button.data("departman-ad"));

        });

        $("#exampleModalCenter").on("show.bs.modal", function (event) {

            var button = $(event.relatedTarget);

            $("#departmanDuzenleId").val(button.data("departman-id"));
            $("#departmanDuzenleAd").val(button.data("departman-ad"));

        });

    </script>
}





